body {
  padding: 1vh 1vw 1vh 1vh;
}

.rock-text-left {
}

.label {
  background-color: #ead295;
}

.english {
  color: #d54624;
}

.german {
  color: #d54624;
}

.subtle-link {
  color: #d54624;
  background-color: #ead295;
  padding: 0;
  line-height: 2em;
  border-radius: 0;
}

.subtle-link:hover {
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}

a {
  color: white;
  font-family: courier;
  background-color: black;
  padding: 0.5em;
  line-height: 3em;
  border-radius: 0.2em;
}

a:hover {
  background-color: violet;
}
